button.active {
  background-color: orange;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 1em;
}

.select-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  mat-form-field {
    width: 400px;
  }
}

.grid-header {
  font-weight: bold;
  text-align: center;
  background-color: lightgrey;
}

.grid-border {
  border: 1px solid black;
}

.row > .grid-border:not(:last-child) {
  border-right: none; /* Remove right border from all except the last column */
}

.row:not(:last-child) > .grid-border {
  border-bottom: none; /* Remove bottom border from all except the last row */
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: auto;

  @media (min-width: 992px) {
    width: calc(10 / 12 * 100%);
  }
}

@media (min-width: 992px) {
  .row-lg-min-height {
    min-height: 75px;
  }
}

.clickable {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
}

.clickable:hover {
  color: blue;
  text-decoration: underline;
}

.deletion-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 992px) {
    width: calc(10 / 12 * 100%);
  }
}
