<h2>Angebotene Kurse</h2>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-1 grid-border grid-header">Kurs</div>
    <div class="col-lg-1 grid-border grid-header">Veranstaltungsort</div>
    <div class="col-lg-2 grid-border grid-header">Adresse des Veranstaltungsortes</div>
    <div class="col-lg-2 grid-border grid-header">Öffentlich erreichbar?</div>
    <div class="col-lg-1 grid-border grid-header">Kursleiter</div>
    <div class="col-lg-3 grid-border grid-header">Alle Termine</div>
  </div>
  <div class="row justify-content-center" *ngFor="let course of storeService.courses">
    <div class="col-lg-1 grid-border">{{ course.name }}</div>
    <div class="col-lg-1 grid-border">{{ course.eventLocation.name }}</div>
    <div class="col-lg-2 grid-border">{{ course.eventLocation.address }}</div>
    <div class="col-lg-2 grid-border">{{ course.eventLocation.venueByPublicTansport ? "Ja" : "Nein" }}</div>
    <div class="col-lg-1 grid-border">{{ course.instructor }}</div>
    <div class="col-lg-3 grid-border">
      <ul>
        <li *ngFor="let date of course.dates">
          <span>{{ date.begin | date:"MMM dd, yyyy 'um' hh:mm a" }}</span> -
          <span>{{ date.end | date:"MMM dd, yyyy 'um' hh:mm a" }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2>Anmeldungen</h2>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-3 grid-border grid-header">Name</div>
    <div class="col-lg-3 grid-border grid-header">Geburtsdatum</div>
    <div class="col-lg-4 grid-border grid-header">Kurs</div>
  </div>
  <div class="row justify-content-center" *ngFor="let registration of storeService.registrations">
    <div class="col-lg-3 grid-border">{{ registration.name }}</div>
    <div class="col-lg-3 grid-border">{{ registration.birthdate }}</div>
    <div class="col-lg-4 grid-border">{{ registration.course.name }}</div>
  </div>
</div>

<div id="pagination">
  <button mat-stroked-button [ngClass]="page == storeService.currentPage ? 'active' : ''" (click)="selectPage(page)"
          type="button" *ngFor="let page of returnAllPages()">{{ page }}
  </button>
</div>
