#header {
  text-align: center;
  width: 100%;
}

#background h1 {
  font-weight: bold;
}

#background {
  width: 100%;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  background: linear-gradient(0.45turn, #32a21b, #f8f4e1, #ffb500);
}

img {
    width: 100%;
    height: auto;
    max-width: 200px;
}
