.add-data-container {
  text-align: center;
}

.add-data-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form mat-form-field {
  min-width: 400px;
}
